<head>
    <link rel="stylesheet" href="header.component.css">
</head>

<body>
<header class="header">

    <div class="arg"><img class="img" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" width="100px" height="60px" alt="Argentina Programa"><strong>#yoprogramo</strong> 2da edición</div>

    <!---<nav class="nav">--->    
        <ul class="ul">
            <li class="li">
                <a class="img" title="ramsespg" href="#educa" ><img src="../../assets/picas2.png" width="15px" height="15px" alt="Educación" /> </a>
            </li>
            <li class="li">
                <a class="img" title="ramsespg" href="#expe" ><img src="../../assets/corazon.png" width="17px" height="17px" alt="Experiencia" />  </a>
            </li>
            <li class="li">
                <a class="img" title="ramsespg" href="#proye" ><img src="../../assets/basuraaa2.png" width="18px" height="18px" alt="Proyectos" /> </a>
            </li>
            <li class="ir">
                <a class="img" title="ramsespg" href="#habi" ><img src="../../assets/diamante.png" width="17px" height="17px" alt="Habilidades" />  </a>
            </li>
            <a class="a">|</a>
            <li class="li">
                <a class="img" title="ramsespg" href="https://github.com/Moisespg13"><img src="../../assets/github_logo_icon_147285.png" weight="20px" height="20px" alt="instagram" />  </a>
            </li>
            <li class="li">
                <a class="img" title="ramsespg" href="https://www.linkedin.com/in/rams%C3%A9s-exequiel-padr%C3%B3n-gentile-b54015253/"><img src="../../assets/linked.png" weight="20px" height="20px" alt="instagram" />  </a>
            </li>
        </ul>
    <!---</nav>--->
</header>

<div class="banner">
    <div class="capa">.</div>
    <div class="nombre">Ramsés Padrón</div>  
    <div class="stack">Full Stack Developer Jr.</div>  
</div>

</body>