<head>
    <link rel="stylesheet" href="projects.component.css">
</head>

<body>
    <div class="proyecs" id="pro">
        <div class="titulo" id="proye"><img src="../../assets/basura.png" width="2%" height="2%" alt="Trebol">  Proyectos  <img src="../../assets/basura.png" width="2%" height="2%" alt="Trebol"></div>
    </div>

    <div class="proyectos">
        <h5 class="port">Portfolio Web</h5>
        <a title="ramsespg" href="https://github.com/Moisespg13"><img class="img" src="../../assets/portfolio.png" width="50%" height="50%" alt="portfolio"></a>
    </div>


</body>
