<head>
    <link rel="stylesheet" href="skills.component.css">
    <!--<style>
        #progressBar{
            width:300px;
            height:30px;
        }
    </style>-->
</head>

<body>
    <div class="exp" id="exp">
        <div class="titulo" id="habi"><img src="../../assets/diamante.png" width="2%" height="2%" alt="Diamante">  Habilidades  <img src="../../assets/diamante.png" width="2%" height="2%" alt="Diamante"></div>
    </div>

    <div class="habilidades">

        <div class="frontend">
            <h4 class="titulofront">&nbsp; &nbsp; Frontend</h4>
            <ul class="front">
                <li class="HTML">HTML &nbsp;<progress class="barra" max="100" value="70"></progress></li>
                <li class="CSS">CSS &nbsp;<progress class="barra" max="100" value="60"></progress></li>
                <li class="Type">TypeScript &nbsp;<progress class="barra" max="100" value="20"></progress></li>
            </ul>
        </div>

        <div class="backend">
            <h4 class="tituloback">&nbsp; &nbsp; Backend</h4>
            <ul class="back">
                <li class="SQL">My SQL &nbsp;<progress class="barra" max="100" value="40"></progress></li>
                <li class="Java">Java &nbsp;<progress class="barra" max="100" value="20"></progress></li>
                <li class="script">Script &nbsp;<progress class="barra" max="100" value="15"></progress></li>
            </ul>
        </div>

        <div class="extras">
            <h4 class="tituloextras">&nbsp; &nbsp; Otros</h4>
            <ul class="otros">
                <li class="C">C &nbsp;<progress class="barra" max="100" value="70"></progress></li>
                <li class="Fortran">Fortran &nbsp;<progress class="barra" max="100" value="90"></progress></li>
                <li class="VHDL">VHDL &nbsp;<progress class="barra" max="100" value="60"></progress></li>
            </ul>
        </div>
    </div>
</body>
