<head>
    <link rel="stylesheet" href="edu.component.css">
</head>

<body>

<div class="edu" id="edu"> 
    
    <div class="titulo" id="educa"><img src="../../assets/picas2.png" width="1.6%" height="1.6%" alt="picas">  Educación Académica  <img src="../../assets/picas2.png" width="1.6%" height="1.6%" alt="picas"></div>
    
    <ul class="ul">
        <li><img src="../../assets/ISFD.png" width="2%" height="2%" alt="iess"><strong>  Bachillerato:</strong> Bachiller en el Instituto de Enseñanza Secundaria y Superior (IESS). Orientado en Ciencias Naturales.</li>
        <li><img src="../../assets/UNDEF_letrablanca-1.png" width="2%" height="2%" alt="iua"><strong>  Universitario:</strong> Actualmente estudiando la carrera de Ingeniería Electrónica en el Instituto Universitario Aeronáutico, Centro Regional Universitario de Córdoba (CRUC IUA).</li>
        <li><img src="../../assets/birrete.png" width="2.6%" height="2.6%" alt="cursos"><strong>Cursos:</strong> Finalizada 1er etapa de Argentina Progama. Actualmente cursando la 2da etapa de Argentina Programa con el fin de obtener el título de Dessarrollador web Full stack junior.</li>
        <li><img src="../../assets/birrete2.png" width="2.6%" height="2.6%" alt="otros"><strong>Otros:</strong> Se aprobó exámen de nivel de inglés técnico en CRUC IUA, se cursó la materia "Computación" en Bachiller (IESS). Curso "MATLAB Onramp" de Mathworks finalizado.</li>
    </ul>
</div>

</body>