<head>
    <link rel="stylesheet" href="exp.component.css">
</head>

<body>

<div class="exp" id="exp">
    <div class="titulo" id="expe"><img src="../../assets/corazon.png" width="1.8%" height="1.8%" alt="corazon">  Experiencia laboral  <img src="../../assets/corazon.png" width="1.8%" height="1.8%" alt="corazon"></div>
    
    <ul class="ul">
        <li class="li">Profesor de taller de Parkour/Free running en el IPEM 407 (San Nicolás - Córdoba (Argentina)), año 2018.</li>
        <li class="li">Atención al público en trabajo callejero, peatonal de Villa Carlos Paz (Fotos con disfraces a colaboración).</li>
        <li class="li">Profesor particular (Matemática) de nivel primario y secundario.</li>
    </ul>
</div>

</body>